<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" />
    <link rel="stylesheet" href="/auth.css" />
  </head>
  <body>
    <div class="section">
      <div class="container">
        <a href="/" class="btn-back btn-light">
          <i class="uil uil-arrow-left" style="font-size: 20px"></i> Back
        </a>
        <div class="row full-height justify-content-center">
          <div class="col-12 text-center align-self-center py-5">
            <div class="section pb-5 pt-5 pt-sm-2 text-center">
              <h6 class="mb-0 pb-3">
                <span>Log In </span><span>Sign Up</span>
              </h6>
              <input
                class="checkbox"
                type="checkbox"
                id="reg-log"
                name="reg-log" />
              <label for="reg-log"></label>
              <div class="card-3d-wrap mx-auto">
                <div class="card-3d-wrapper">
                  <!-- LOG IN -->
                  <div class="card-front">
                    <div class="center-wrap">
                      <form id="loginForm" class="section text-center">
                        <h4 class="mb-4 pb-3">Log In</h4>
                        <div class="form-group">
                          <input
                            type="email"
                            name="logemail"
                            class="form-style"
                            placeholder="Your Email"
                            id="logemail"
                            autocomplete="off" />
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="login-email error mt-1"></div>
                        <div class="form-group mt-2">
                          <input
                            type="password"
                            name="logpass"
                            class="form-style"
                            placeholder="Your Password"
                            id="logpass"
                            autocomplete="off" />
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="login-password error mt-1"></div>
                        <button class="btn mt-4">submit</button>
                      </form>
                    </div>
                  </div>

                  <!-- SIGN UP -->
                  <div class="card-back py-3">
                    <div class="center-wrap">
                      <form id="signupForm" class="section text-center">
                        <h4 class="mb-4 pb-3">Sign Up</h4>
                        <div class="form-group">
                          <input
                            type="text"
                            name="username"
                            class="form-style"
                            placeholder="Your Full Name"
                            id="username"
                            autocomplete="off" />
                          <i class="input-icon uil uil-user"></i>
                        </div>
                        <div class="signup-username error mt-1"></div>
                        <div class="form-group mt-2">
                          <input
                            type="email"
                            name="email"
                            class="form-style"
                            placeholder="Your Email"
                            id="email"
                            autocomplete="off" />
                          <i class="input-icon uil uil-at"></i>
                        </div>
                        <div class="signup-email error mt-1"></div>
                        <div class="form-group mt-2">
                          <input
                            type="password"
                            name="password"
                            class="form-style"
                            placeholder="Your Password"
                            id="password"
                            autocomplete="off" />
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="signup-password error mt-1"></div>
                        <button class="btn mt-4">submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  // LOGIN FORM
  const loginForm = document.getElementById("loginForm");
  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Reset error
    const emailError = document.querySelector(".login-email.error");
    const passwordError = document.querySelector(".login-password.error");
    emailError.textContent = "";
    passwordError.textContent = "";

    // Ambil nilai input
    const email = loginForm.logemail.value;
    const password = loginForm.logpass.value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();

      if (data.errors) {
        emailError.textContent = data.errors.email || "";
        passwordError.textContent = data.errors.password || "";
      }

      if (data.user) {
        location.assign("/");
      }
    } catch (error) {
      console.log({ error });
    }
  });

  // SIGNUP FORM
  const signupForm = document.getElementById("signupForm");
  signupForm.addEventListener("submit", async (e) => {
    e.preventDefault();

    // Reset error
    const usernameError = document.querySelector(".signup-username.error");
    const emailError = document.querySelector(".signup-email.error");
    const passwordError = document.querySelector(".signup-password.error");
    usernameError.textContent = "";
    emailError.textContent = "";
    passwordError.textContent = "";

    // Ambil nilai input
    const username = signupForm.username.value;
    const email = signupForm.email.value;
    const password = signupForm.password.value;

    try {
      const res = await fetch("/signup", {
        method: "POST",
        body: JSON.stringify({ username, email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();

      if (data.errors) {
        usernameError.textContent = data.errors.username || "";
        emailError.textContent = data.errors.email || "";
        passwordError.textContent = data.errors.password || "";
      }

      if (data.user) {
        location.assign("/");
      }
    } catch (error) {
      console.log({ error });
    }
  });
</script>
